*{
    margin: 0;
    padding: 00;
}
.container{
    max-width: 400px;
    border: 1px solid rgb(151, 100, 151);
    border-radius: 5px;
    margin: 0 auto;
}
.card{
    height: 150px;
    background: purple;
    color: white;
    text-align: center;
    line-height: 150px;
}
.botao{
    padding: 10px;
    background: #1f69a9;
    color: #fff;
    margin: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.corTiraDiv{
    background: rgb(105, 69, 105)
}